---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_BLOG_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const lang = 'en';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/scripts/fouc-resolver.js"></script>
    <BaseHead title={SITE_BLOG_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        line-height: 1;
      }
      .date {
        margin: 0;
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
      a {
        transition: opacity 0.2s ease-in-out !important;
      }
      a:hover {
        opacity: 0.5 !important;
        text-decoration: underline !important;
      }
    </style>
  </head>

  <body
    class="text-[#113a5b] dark:text-[#aae2ff] dark:bg-[#1B553b] bg-[#6Bf5ab]"
  >
    <div
      class="dark:bg-gradient-to-b text-[#113a5b] dark:text-[#aae2ff] dark:from-[#173458] dark:to-[#1B553b] bg-gradient-to-b from-[#61dbfb] to-[#6Bf5ab] fixed z-0 xs:top-[94px] sm:top-[72px] top-[70px] w-full xs:h-[calc(100vh-94px)] md:h-[calc(100vh-72px)] h-[calc(100vh-70px)]"
    >
    </div>
    <Header />
    <main
      class="relative z-10 mt-36 max-w-screen-lg mx-auto md:px-[2em] px-[1em]"
    >
    <h1 class="text-[#19102a] dark:text-[#61d2fb] title text-center !mb-[0.5em]">Most Recent Posts</h1>
      <ul>
        {
          posts
            .filter((post) => post?.filePath?.includes(`/${lang}/`))
            .map((post) => (
              <li class={`relative z-20`}>
                <a
                  href={`/blog/${post.slug}/`}
                  class={`!text-[#aa4acf] dark:!text-[#d0a0ff]`}
                >
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt={post.data.title}
                  />
                  <h4 class="title text-center">{post.data.title}</h4>
                  <p class="date text-center">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
