---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import { SITE_BLOG_TITLE, SITE_BLOG_DESCRIPTION } from "../config";

import Footer from "../components/portfolio/Footer";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<script is:inline src="/resolve-fouc.js"></script>
<BaseHead title={SITE_BLOG_TITLE} description={SITE_BLOG_DESCRIPTION} />
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li time {
    font-style: italic;
    width: 130px;
    padding-right: 2rem;
  }
  ul li a:visited {
    color: #996dff;
  }

  ul li a {
    transition: all 0.3s ease;
  }

  ul li a:hover {
    transform: scale(1.05);
  }
</style>

<body>
  <Header />
  <main class="w-full lg:h-screen py-36 relative z-[1]">
    <section
      class="md:px-10 max-w-[1000px] w-full h-[100%] mx-auto p-2 px-3 flex justify-center items-center"
    >
      <ul>
        {
          posts.map((post, i) => (
            <>
              <li class="flex items-left">
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
              </li>
              {i !== posts.length - 1 && <hr />}
            </>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</body>
