---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import { SITE_BLOG_TITLE, SITE_BLOG_DESCRIPTION } from "../config";

import Footer from "../components/portfolio/Footer";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script is:inline src="/resolve-fouc.js"></script>
    <BaseHead title={SITE_BLOG_TITLE} description={SITE_BLOG_DESCRIPTION} />

    <style>
      .hide,
      .hide * {
        opacity: 1s !important;
      }
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        padding: 1rem 0.5rem;
      }
      ul li:not(:last-child) {
        border-bottom: solid 1.333px #696f9f;
      }
      ul li time {
        font-style: italic;
        width: 130px;
        padding-right: 2rem;
      }
      ul li a:visited {
        color: #996dff;
      }

      ul li a {
        transition: all 0.3s ease;
      }

      ul li a:hover {
        transform: scale(1.05);
      }
    </style>
  </head>
  <body>
    <div id="gradient1" class="primary-gradient fixed h-[100vh] w-full"></div>
    <div id="gradient2" class="secondary-gradient fixed h-[100vh] w-full"></div>
    <Header />
    <main class="w-full lg:h-screen relative z-[1]">
      <section
        class="md:px-10 max-w-[1000px] w-full h-[100%] py-36 mx-auto p-2 px-3 flex justify-center items-center"
      >
        <ul>
          {
            posts.map((post, i) => (
              <>
                <li class="flex items-left">
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                  <noscript>
                    <a href={post.url}>{post.frontmatter.title}</a>
                  </noscript>
                  <a id="i" class="post" href="#" data-id={post.url}>
                    {post.frontmatter.title}
                  </a>
                </li>
              </>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <script is:inline src="/copyright-notice.js"></script>
    <script is:inline src="/get-previous-route.js"></script>
    <script>
      const addFadeOutClass = () => {
        document
          .getElementsByTagName("main")
          ?.item(0)
          ?.classList?.add("fade-out");
        document.getElementById("gradient1")?.classList?.toggle("primary-gradient");
        document.getElementById("gradient2")?.classList?.toggle("secondary-gradient");
      };
      const handleBlogItemClick = (url = "") => {
        addFadeOutClass();
        setTimeout(() => (window.location.href = url), 1133);
      };

      const posts = document.getElementsByClassName("post");
      for (let i = 0; i < posts?.length; i++) {
        posts.item(i)?.addEventListener("click", () => {
          handleBlogItemClick(posts.item(i)?.getAttribute("data-id") ?? "");
        });
      }
    </script>
  </body>
</html>
