---
import { Image } from 'astro:assets';

import nlpFromScratchImage from '../assets/project-nlp.avif';
import goodCoIndexImage from '../assets/project-goodcoindex.avif';
import youtubeImage from '../assets/project-youtube.avif';
import habitApplitImage from '../assets/project-habit-applit.avif';
import itunesImage from '../assets/project-itunes.avif';
import jobDemandTable from '../assets/project-jd-table.avif';
import jobDemandChart from '../assets/project-jd-chart.avif';

import Layout from '../layouts/BlogPost.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_PROJECTS_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script is:inline src="/scripts/fouc-resolver.js"></script>
    <script is:inline src="/scripts/scroll-to-top.js"></script>
    <BaseHead title={SITE_PROJECTS_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="text-[#113a5b] dark:text-[#aae2ff] dark:bg-[#1B553b] bg-[#6Bf5ab]"
  >
    <header>
      <script is:inline src="/scripts/fouc-resolver.js"></script>
    </header>

    <Layout
      title="My Projects"
      description="What I'm currently building"
      pubDate={new Date('November 17 2024')}
      updatedDate={new Date('June 2, 2025')}
      heroImage="/projects.avif"
    >
      <div>
        <ul class="mb-24">
          <li><a href="#project-y">• Jobdemand</a></li>
          <li><a href="#project-z">• GoodCoIndex</a></li>
          <li><a href="#project-0">• NLP From Scratch</a></li>
          <li><a href="#project-1">• YouTube Clone</a></li>
          <li><a href="#project-2">• Habit AppLit</a></li>
          <li><a href="#project-3">• Classic iTunes</a></li>
        </ul>
        <span class="text-5xl pt-24" id="project-y"
          ><strong>Jobdemand</strong></span
        >
        <p>
          A project that creates a visualization of the demand for each job the
          user picks to help them see what jobs are most in demand.
        </p>
        <span class="text-4xl">Ingredients</span>
        <ul>
          <li>• Python</li>
          <li>• Matplotlib</li>
          <li>• Pandas</li>
          <li>• Requests</li>
          <li>• Data Analysis</li>
          <li>• Data Visualization</li>
          <li>• Statistics</li>
          <li>• React</li>
          <li>• Vite</li>
          <li>• TypeScript</li>
          <li>• HTML</li>
          <li>• CSS</li>
        </ul>
        <br />
        <img
          alt="JobDemand Skill Icons"
          src="https://skillicons.dev/icons?i=python,react,vite,typescript,html,css"
        />
        <br />
        Use the app here:
        <a
          href="https://github.com/pjnalls/jobdemand"
          target="_blank"
          rel="noopener noreferrer">https://jobdemand.app</a
        >.
        <br />
        Screenshots:
        <div class="flex flex-row gap-4 w-[calc(100%-16px)]">
          <Image
            src={jobDemandTable}
            alt="JobDemand Project Table"
            loading="lazy"
            width={685}
            height={802}
            class="w-1/2"
          />
          <Image
            src={jobDemandChart}
            alt="JobDemand Project Chart"
            loading="lazy"
            width={685}
            height={802}
            class="w-1/2"
          />
        </div>
        <p class="text-center my-8" onclick="scrollToProjectsHeader()">
          <a
            href="#my-projects"
            class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white p-4 rounded-md mb-8 cursor-pointer"
            style="text-decoration: none;">Scroll to Top ⬆</a
          >
        </p>
        <br />
        <span class="text-5xl pt-24" id="project-z"
          ><strong>GoodCoIndex</strong></span
        >
        <p>
          The Good Computing Opportunities Index: A full-stack, cross-platform
          search engine application with machine learning that provides
          developers with opportunities to compute for good, supporting iOS,
          Android, and the Web.
        </p>
        <span class="text-4xl">Ingredients</span>
        <ul>
          <li>• Django</li>
          <li>• NumPy</li>
          <li>• Python</li>
          <li>• Redis</li>
          <li>• Expo</li>
          <li>• Expo Router</li>
          <li>• NativeWind</li>
          <li>• React Native</li>
          <li>• Tailwind CSS</li>
          <li>• TypeScript</li>
        </ul>
        <br />
        <img
          alt="GoodCodIndex Skill Icons"
          src="https://skillicons.dev/icons?i=django,python,redis,react,tailwind,typescript"
        />
        <br />
        Code available here:
        <a
          href="https://github.com/pjnalls/goodcoindex"
          target="_blank"
          rel="noopener noreferrer">https://github.com/pjnalls/goodcoindex</a
        >.
        <br />
        Logo:
        <Image
          src={goodCoIndexImage}
          alt="GoodCoIndex"
          loading="lazy"
          width={360}
          height={360}
          class="mx-auto"
        />
        <p class="text-center my-8" onclick="scrollToProjectsHeader()">
          <a
            href="#my-projects"
            class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white p-4 rounded-md mb-8 cursor-pointer"
            style="text-decoration: none;">Scroll to Top ⬆</a
          >
        </p>
        <br />
        <span class="text-5xl pt-24" id="project-0"
          ><strong>NLP From Scratch</strong></span
        >
        <p>
          A walkthrough of an NLP character-level Recurrent Neural Network (RNN)
          and translation with a sequence-to-sequence network and attention
          provided by the PyTorch community that is available here:
          <a
            href="https://github.com/pjnalls/nlp_from_scratch"
            target="_blank"
            rel="noopener noreferrer"
            >https://github.com/pjnalls/nlp_from_scratch</a
          >.
        </p>
        <span class="text-4xl">Ingredients</span>
        <ul>
          <li>• PyTorch</li>
          <li>• NumPy</li>
          <li>• Matplotlib</li>
          <li>• Deep Learning</li>
          <li>• Neural Networks</li>
          <li>• Natural Language Processing (NLP)</li>
          <li>• Python</li>
        </ul>
        <br />
        <img
          alt="NLP From Scratch Skill Icons"
          src="https://skillicons.dev/icons?i=pytorch,python"
        />
        <br />
        Code available here:
        <a
          href="https://github.com/pjnalls/ml_projects/tree/main/nlp_from_scratch/"
          target="_blank"
          >https://github.com/pjnalls/ml_projects/tree/main/nlp_from_scratch/</a
        >.
        <br />
        Logo:
        <Image
          src={nlpFromScratchImage}
          alt="Youtube Clone Project"
          loading="lazy"
          width={360}
          height={360}
          class="mx-auto"
        />
        <p class="text-center my-8" onclick="scrollToProjectsHeader()">
          <a
            href="#my-projects"
            class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white p-4 rounded-md mb-8 cursor-pointer"
            style="text-decoration: none;">Scroll to Top ⬆</a
          >
        </p>
        <br />
        <span class="text-5xl pt-24" id="project-1"
          ><strong>YouTube Clone</strong></span
        >
        <p>
          A YouTube video search clone built with Expo and React Native for iOS,
          Android, and the Web.
        </p>
        <span class="text-4xl">Ingredients</span>
        <ul>
          <li>• React Native</li>
          <li>• Expo</li>
          <li>• Expo Router</li>
          <li>• YouTube Data API</li>
          <li>• TypeScript</li>
        </ul>
        <br />
        <img
          alt="YouTube Clone Skill Icons"
          src="https://skillicons.dev/icons?i=react,typescript"
        />
        <br />
        Code available here:
        <a href="https://github.com/pjnalls/youtube/" target="_blank"
          >https://github.com/pjnalls/youtube/</a
        >.
        <br />
        Screens:
        <Image
          src={youtubeImage}
          alt="Youtube Clone Project"
          loading="lazy"
          width={1370}
          height={1604}
        />
        <p class="text-center my-8" onclick="scrollToProjectsHeader()">
          <a
            href="#my-projects"
            class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white p-4 rounded-md mb-8 cursor-pointer"
            style="text-decoration: none;">Scroll to Top ⬆</a
          >
        </p>
        <br />
        <span class="text-5xl pt-24" id="project-2"
          ><strong>Habit AppLit</strong></span
        >
        <p>
          A 'lit'tle habit tracker app for creation, tracking, and
          streak-visualization of habits for iOS, Android, and the Web.
        </p>
        <span class="text-4xl">Ingredients</span>
        <ul>
          <li>• React Native</li>
          <li>• React Native Gifted Charts</li>
          <li>• React Native Linear Gradient</li>
          <li>• Expo</li>
          <li>• Expo Router</li>
          <li>• AsyncStorage</li>
          <li>• TypeScript</li>
        </ul>
        <br />
        <img
          alt="Habit AppLit Skill Icons"
          src="https://skillicons.dev/icons?i=react,typescript"
        />
        <br />
        Code available here:
        <a href="https://github.com/pjnalls/habit-applit/" target="_blank"
          >https://github.com/pjnalls/habit-applit/</a
        >.
        <br />
        Screens:
        <Image
          src={habitApplitImage}
          alt="Habit AppLit Project"
          loading="lazy"
          width={1370}
          height={1616}
        />
        <p class="text-center my-8" onclick="scrollToProjectsHeader()">
          <a
            href="#my-projects"
            class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white p-4 rounded-md mb-8"
            style="text-decoration: none;">Scroll to Top ⬆</a
          >
        </p>
        <br />
        <span class="text-5xl pt-24" id="project-3"
          ><strong>Classic iTunes</strong></span
        >
        <p>
          An iTunes clone built with Expo and React Native for iOS, Android, and
          the Web.
        </p>
        <span class="text-4xl">Ingredients</span>
        <ul>
          <li>• React Native</li>
          <li>• React Native Track Player</li>
          <li>• Shaka Player</li>
          <li>• Expo</li>
          <li>• TypeScript</li>
        </ul>
        <br />
        <img
          alt="iTunes Clone Skill Icons"
          src="https://skillicons.dev/icons?i=react,typescript"
        />
        <br />
        Code available here:
        <a href="https://github.com/pjnalls/itunes/" target="_blank"
          >https://github.com/pjnalls/itunes/</a
        >.
        <br />
        Screens:
        <Image
          src={itunesImage}
          alt="iTunes Clone Project"
          loading="lazy"
          width={1370}
          height={803}
        />
        <p class="text-center my-8" onclick="scrollToProjectsHeader()">
          <a
            href="#my-projects"
            class="bg-[#d0c2ff] dark:bg-[#6e408a] border-4 border-[#6e408a] dark:border-[#d0c2ff] text-white p-4 rounded-md mb-8"
            style="text-decoration: none;">Scroll to Top ⬆</a
          >
        </p>
        <br />
        <p class="text-center">
          Please also <a href="https://github.com/pjnalls/" target="_blank"
            >visit my GitHub profile</a
          > to view what I'm currently working on.
        </p>
      </div>
    </Layout>
  </body>
</html>

<style>
  a {
    color: inherit;
  }
</style>

<script></script>
