---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/portfolio/Navbar";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <script is:inline src="/resolve-fouc.js"></script>
  <BaseHead title={`P.J. Nalls • Blog • ${title}`} description={description} />
  <style>
    .title {
      font-size: 2em;
      margin: 0.25em 0 0;
    }
  </style>

  <body>
    <div class="z-[0]" id="blossomContainer"></div>
        <header>
      <nav>
        <Navbar client:load />
      </nav>
    </header>
    <main class="w-full h-screen relative z-[1] md:px-10 px-8">
      <article class="max-w-[1000px] w-full h-[100%] mx-auto p-2 px-0 py-36">
        {
          heroImage && (
            <img
              src={heroImage}
              alt=""
              class="mx-auto w-full h-[33vh] object-cover py-6"
            />
          )
        }
        <h1
          class="title my-6 lg:text-[3rem] md:text-[2.667rem] text-[2.333rem]"
        >
          {title}
        </h1>
        <br />
        {pubDate && <time class="mb-3">{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time class="mb-3">{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
        <br />
        <br />
        <br />
        <Footer />
      </article>
    </main>
    <script is:inline src="/copyright-notice.js"></script>
    <script is:inline src="/get-previous-route.js"></script>
    <script is:inline src="/blossom-scene.js"></script>
    <script is:inline src="/localize.js"></script>
  </body>
</html>
